/**
    Allows for tablet resizing; any page that wants to be responsive in mobile view should import this partial.

    Author: Marcello Sabino
    Date:   19 December 2016
*/
@media screen and (max-width: 1000px) {

    header {
        background-size: 100% 50%;
    }
}